# Population in Ireland

## 1 Data Reading and Cleaning

### 1.1 Reading Data

We use some useful libraries for our project.
These are:
- Pandas: A versatile data manipulation and analysis library. It provides easy-to-use data structures and functions for working with structured data, making it an essential tool for data processing and analysis.
- Numpy: A fundamental library for numerical operations in Python. It offers support for arrays, matrices, and various mathematical functions, making it an essential tool for scientific computing and data analysis.
- Seaborn: A data visualization library based on Matplotlib. Seaborn provides an interface for creating informative and attractive statistical graphics, which is particularly useful for exploring and understanding complex datasets.
- Matplotlib.pyplot: A widely used plotting library for creating static, animated, or interactive visualizations in Python. It is a fundamental tool for data visualization and report generation in a wide range of domains.
- %matplotlib inline: This magic command in Jupyter Notebook allows the generated plots or visualizations to be displayed directly within the notebook. It's particularly useful when using libraries like Matplotlib for data visualization.

In [1]:
import pandas as pd               # Used for data analysis and processing.
import numpy as np                # Used for multi-dimensional arrays and mathematical operations.
import seaborn as sns             # Provides a high-level interface for data visualization.
import matplotlib.pyplot as plt   # Used for creating plots and graphs.
%matplotlib inline
sns.set(color_codes=True)

In [2]:
df=pd.read_csv("PEA01.20231007T221014.csv") # we read dataset

In [3]:
df.head(5) # We dispplay first 5 rows

,STATISTIC Label,Year,Age Group,Sex,UNIT,VALUE
0,Population Estimates (Persons in April),1950,Under 1 year,Both sexes,Thousand,61.1
1,Population Estimates (Persons in April),1950,Under 1 year,Male,Thousand,31.4
2,Population Estimates (Persons in April),1950,Under 1 year,Female,Thousand,29.7
3,Population Estimates (Persons in April),1950,0 - 4 years,Both sexes,Thousand,NaN
4,Population Estimates (Persons in April),1950,0 - 4 years,Male,Thousand,NaN

In [4]:
df.tail(5) # We display last 5 rows

,STATISTIC Label,Year,Age Group,Sex,UNIT,VALUE
5989,Population Estimates (Persons in April),2023,85 years and over,Male,Thousand,33.1
5990,Population Estimates (Persons in April),2023,85 years and over,Female,Thousand,53.9
5991,Population Estimates (Persons in April),2023,All ages,Both sexes,Thousand,5281.6
5992,Population Estimates (Persons in April),2023,All ages,Male,Thousand,2606.2
5993,Population Estimates (Persons in April),2023,All ages,Female,Thousand,2675.4

In [16]:
total_rows=df.shape[0]
total_columns=df.shape[1]
print(f"Total Rows= {total_rows}")
print(f"Total Columns= {total_columns}")

Total Rows= 5994
Total Columns= 6

In [6]:
df.describe()

              Year        VALUE
count  5994.000000  5880.000000
mean   1986.500000   347.001088
std      21.361791   601.822682
min    1950.000000     5.500000
25%    1968.000000    79.475000
50%    1986.500000   151.700000
75%    2005.000000   307.725000
max    2023.000000  5281.600000

In [7]:
df.describe(include="object")

,STATISTIC Label,Age Group,Sex,UNIT
count,5994,5994,5994,5994
unique,1,27,3,1
top,Population Estimates (Persons in April),Under 1 year,Both sexes,Thousand
freq,5994,222,1998,5994

In [8]:
df.dtypes

STATISTIC Label     object
Year                 int64
Age Group           object
Sex                 object
UNIT                object
VALUE              float64
dtype: object

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5994 entries, 0 to 5993
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   STATISTIC Label  5994 non-null   object
 1   Year             5994 non-null   int64
 2   Age Group        5994 non-null   object
 3   Sex              5994 non-null   object
 4   UNIT             5994 non-null   object
 5   VALUE            5880 non-null   float64
dtypes: float64(1), int64(1), object(4)
memory usage: 281.1+ KB

In [ ]:
df.nunique()

In [ ]:
df.count()

In [ ]:
df.isnull().sum()

In [ ]:
df.duplicated().sum()

In [ ]:
to_drop=["STATISTIC Label","UNIT"] 
df.drop(columns=to_drop,inplace=True)

In [ ]:
df=df.rename(columns={"VALUE":"Value"})

In [ ]:
missing_df=df[df.isna().any(axis=1)] #missing data rows
missing_df

In [ ]:
all_0_4=df[(df["Age Group"]=="0 - 4 years")]
all_0_4

In [ ]:
# We fill the missing data in the "0 - 4 years" age group with the sum of "Under 1 year" and "1 - 4 years" age groups.

for year in df['Year'].unique():
    for sex in df['Sex'].unique():
        total_value = df[(df['Year'] == year) & (df['Sex'] == sex) & 
                         (df['Age Group'].isin(['Under 1 year', '1 - 4 years']))]['Value'].sum()
        missing_value = (df['Year'] == year) & (df['Sex'] == sex) & (df['Age Group'] == '0 - 4 years')
        df.loc[missing_value, 'Value'] = total_value

# After filling in the missing data, we view the first and last 5 values of the data frame.
print(df.head(5))
print(df.tail(5))

In [ ]:
all_0_4=df[(df["Age Group"]=="0 - 4 years")]
all_0_4[:]

In [ ]:
year = 1965
age_range = "0 - 4 years"
sex = "Both sexes"

# We print the result for a specific year, age range, and gender.
result = df[(df['Year'] == year) & (df['Age Group'] == age_range) & (df['Sex'] == cinsiyet)]['Value'].values[0]
print(f"In {year}, the result for the age group {age_range}, and the gender {sex} is: {result}")

In [ ]:
year = 1965
age_range = "1 - 4 years"
sex = "Both sexes"

# We print the result for a specific year, age range, and gender.
result = df[(df['Year'] == year) & (df['Age Group'] == age_range) & (df['Sex'] == cinsiyet)]['Value'].values[0]
print(f"In {year}, the result for the age group {age_range}, and the gender {sex} is: {result}")

In [ ]:
year = 1965
age_range = "Under 1 year"
sex = "Both sexes"

# We print the result for a specific year, age range, and gender.
result = df[(df['Year'] == year) & (df['Age Group'] == age_range) & (df['Sex'] == cinsiyet)]['Value'].values[0]
print(f"In {year}, the result for the age group {age_range}, and the gender {sex} is: {result}")

In [ ]:
toplam_yas = df[(df['Year'] == 1965) & (df['Sex'] == "Both sexes") & (df['Age Group'].isin(['Under 1 year', '1 - 4']))]['Value'].sum()
toplam_yas

In [ ]:
df[(df['Year'] == 1950) & (df['Age Group'] == '1 - 4 years')]

In [ ]:
df[(df['Year'] == 1965) & (df['Age Group'] == 'Under 1 year')]

In [ ]:
df['Year'].unique()

In [ ]:
df['Sex'].unique()

In [ ]:
df['Age Group'].unique()

In [ ]:
df.head(10)

In [ ]:
Under_1_year=df[(df["Age Group"]=="Under 1 year")  & (df["Sex"]=="Both sexes" )]

In [ ]:
Under_1_year.head(5)

In [ ]:
Under_1_year.shape

In [ ]:
both_1_4=df[(df["Age Group"]=="1 - 4 years")  & (df["Sex"]=="Both sexes" )]

In [ ]:
both_1_4.head(5)

In [ ]:
both_1_4.shape

In [ ]:
all_0_4=df[(df["Age Group"]=="0 - 4 years")]
all_0_4.head(5)

In [ ]:
all_0_4.shape

In [ ]:
all_0_4.isnull().sum()

In [ ]:
male_0_4=df[(df["Age Group"]=="0 - 4 years") & (df["Sex"]=="Male")]

In [ ]:
male_0_4.head(5)

In [ ]:
male_0_4.shape

In [ ]:
male_0_4.isnull().sum()

In [ ]:
year_1950=df[(df["Year"]==2022) & (df["Sex"]=="Both sexes")]

In [ ]:
print("Shape= ",year_1950.shape,"\n")
print(year_1950.head(5))

In [ ]:
year_1950.head(27)

In [ ]:
total_value = year_1950['VALUE'].sum()
print("Toplam Değer:", total_value)

In [ ]:
#to_drop=["STATISTIC Label","UNIT"]

In [ ]:
#df.drop(columns=to_drop,inplace=True)

In [ ]:
#df=df.rename(columns={"VALUE":"Value"})

In [ ]:
#df["Value"]=df["Value"]*1000
#df["Value"]=df["Value"]/100

In [ ]:
df

In [ ]:
df.count()

In [ ]:
sns.boxplot(x=df["Value"])

In [ ]:
Q1=df.quantile(0.25)
Q3=df.quantile(0.75)
IQR=Q3-Q1
print(IQR)

In [ ]:
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

In [ ]:
outliers = (df < lower_bound) | (df > upper_bound)

In [ ]:
outliers_df = df[outliers.any(axis=1)]

In [ ]:
outliers_df

In [ ]:
df

In [ ]:
df.hist(column="Value",bins=20)

In [ ]:
df["Age Group"].unique()

In [ ]:
Age_Group_Value_Counts=pd.crosstab(index=df["Age Group"],columns="Value")

In [ ]:
Age_Group_Value_Counts

In [ ]:
from numpy import median, mean

In [ ]:
sns.set(style="whitegrid")

In [ ]:
plt.figure(figsize=(12,6))
ax = sns.barplot(x="Age Group", y="Value", hue="Age Group", data=df)
plt.xticks(rotation=90)
plt.legend(loc="upper right",bbox_to_anchor=(1.2,1))

In [ ]:
plt.figure(figsize=(12,6))
sns.scatterplot(data=df,x="Age Group",y="Value",hue="Sex");
plt.xticks(rotation=90);
plt.legend(loc="upper right",bbox_to_anchor=(1.2,1))

In [ ]:
plt.figure(figsize=(12,6))
sns.scatterplot(data=df,x="Year",y="Value",hue="Age Group");
plt.ylabel("Value (Thousand)")
plt.xticks(rotation=90);
plt.legend(loc="upper right",bbox_to_anchor=(1.2,1));

In [ ]:
import math
subset_0_14_years=df[(df["Age Group"]=="0 - 14 years")]
print(subset_0_14_years,"\n\n")
print("Minimum value:\n",subset_0_14_years.min(),"\n")
print("Maximum value:\n",subset_0_14_years.max(),"\n")

In [ ]:
#min_value=(subset_0_14_years["Value"].apply(math.ceil).min())-1
#max_value=subset_0_14_years["Value"].max()
min_value=subset_0_14_years["Value"].apply(lambda x: (math.ceil(x/100)*100)-100).min()
max_value=subset_0_14_years["Value"].apply(lambda x: math.ceil(x/100)*100).max()
plt.figure(figsize=(12,6))
sns.scatterplot(data=subset_0_14_years,x="Year",y="Value",hue="Sex");
plt.xticks(rotation=90);
plt.ylabel("Value (Thousand)")
plt.yticks(np.arange(min_value, max_value, step=30))
plt.legend(loc="upper right",bbox_to_anchor=(1.16,1.02));

In [ ]:
#min_value=(subset_0_14_years["Value"].apply(math.ceil).min())-1
max_value=subset_0_14_years["Value"].max()
min_value=subset_0_14_years["Value"].apply(lambda x: (math.ceil(x/100)*100)-100).min()
plt.figure(figsize=(12,6))
sns.scatterplot(data=subset_0_14_years,x="Year",y="Value",hue="Sex");
plt.xticks(rotation=90);
plt.ylabel("Value (Thousand)")

plt.yticks(np.arange(min_value, max_value, step=30))
plt.legend(loc="upper right",bbox_to_anchor=(1.16,1.02));

In [ ]:
plt.figure(figsize=(12,6))
sns.scatterplot(data=subset_0_14_years,x="Year",y="Value",hue="Sex");
plt.xticks(rotation=90);
plt.ylabel("Value (Thousand)")
plt.legend(loc="upper right",bbox_to_anchor=(1.16,1.02));

In [ ]:
fig, ax = plt.subplots(figsize=(12,6))
ax.scatter(subset_0_14_years["Year"], subset_0_14_years["Value"])
ax.set_title("Value By Years")
ax.set_xlabel("Year")
ax.set_ylabel("Value")
plt.show()

In [ ]:
subset_0_4_years=df[(df["Age Group"]=="0 - 4 years") & (df["Sex"]=="Male")]
print(subset_0_4_years.head(),"\n\n")
print("Minimum value:\n",subset_0_4_years.min(),"\n")
print("Maximum value:\n",subset_0_4_years.max(),"\n")

In [ ]:
fig, ax = plt.subplots(figsize=(10,6))
ax.scatter(df["Age Group"], df["Value"])
ax.set_xlabel("Age Group")
plt.xticks(rotation=90)
ax.set_ylabel("Value")
plt.title("Value By Age Group")
plt.show()

In [ ]:
fig, ax = plt.subplots(figsize=(10,6))
ax.scatter(df["Age Group"]=="0 - 14 years", df["Value"])
ax.set_xlabel("Age Group")
ax.set_ylabel("Value")
plt.show()

In [ ]:

# # Kategorik verileri sayısal olarak kodlayalım
# df['Age Group Code'] = pd.Categorical(df['Age Group']).codes

# # Sütunları x, y ve renk olarak kullanarak scatter plot oluşturun
# fig, ax = plt.subplots(figsize=(12, 10))
# scatter = ax.scatter(df["Year"], df["Value"], c=df["Age Group Code"], cmap='viridis', marker='o')

# # Renk skalasını oluşturun ve eksen etiketlerini ayarlayın
# cbar = plt.colorbar(scatter)
# cbar.set_label("Age Group")
# ax.set_xlabel("Year")
# ax.set_ylabel("Value")
# plt.show()

In [ ]:
# df["Age Group"].unique()

In [ ]:
# # Belirlediğiniz renk listesi
# colors = ['red', 'green', 'blue', 'orange', 'purple']

# # Her bir "Age Group" kategorisi için "VALUE" sütununun ortalamasını hesaplayalım
# grouped_data = df.groupby('Age Group')['Value'].mean()

# # Çubuk grafik oluşturalım ve belirlediğiniz renkleri kullanalım
# fig, ax = plt.subplots(figsize=(10, 6))
# grouped_data.plot(kind='bar', ax=ax, color=colors)
# ax.set_xlabel("Age Group")
# ax.set_ylabel("Average Value")
# plt.show()

In [ ]:
# # Kategorik verileri sayısal olarak kodlayalım
# age_group_order = [
#     'Under 1 year', '0 - 4 years', '0 - 14 years', '1 - 4 years', '5 - 9 years', '10 - 14 years',
#     '15 - 19 years', '15 - 24 years', '15 years and over', '20 - 24 years',
#     '25 - 29 years', '25 - 44 years', '30 - 34 years', '35 - 39 years', '40 - 44 years',
#     '45 - 49 years', '45 - 64 years', '50 - 54 years', '55 - 59 years',
#     '60 - 64 years', '65 - 69 years', '65 years and over', '70 - 74 years',
#     '75 - 79 years', '80 - 84 years', '85 years and over', 'All ages'
# ]

# df['Age Group'] = pd.Categorical(df['Age Group'], categories=age_group_order, ordered=True)
# df['Age Group Code'] = df['Age Group'].cat.codes

# # Sütunları x, y ve renk olarak kullanarak scatter plot oluşturun
# fig, ax = plt.subplots(figsize=(12, 10))
# scatter = ax.scatter(df["Year"], df["Value"], c=df["Age Group Code"], cmap='viridis', marker='o')

# # Renk skalasını oluşturun ve eksen etiketlerini ayarlayın
# cbar = plt.colorbar(scatter)
# cbar.set_label("Age Group")
# ax.set_xlabel("Year")
# ax.set_ylabel("Value")
# plt.show()